<div>
    <h2 id="page-heading">
        <span jhiTranslate="examenApp.deparment.home.title">Deparments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deparment" [routerLink]="['/deparment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="examenApp.deparment.home.createLabel">
            Create a new Deparment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deparments?.length === 0">
        <span jhiTranslate="examenApp.deparment.home.notFound">No deparments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deparments && deparments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="examenApp.deparment.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="examenApp.deparment.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="examenApp.deparment.state">State</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deparment of deparments ;trackBy: trackId">
                    <td><a [routerLink]="['/deparment', deparment.id, 'view']">{{ deparment.id }}</a></td>
                    <td>{{ deparment.name }}</td>
                    <td>{{ deparment.description }}</td>
                    <td jhiTranslate="{{ 'examenApp.Status.' + deparment.state }}">{{ deparment.state }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/deparment', deparment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/deparment', deparment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deparment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
